*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(#305252, #488286);

  }
  
  .welcomeHome {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 70px;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

    
  #footer {
      width: 100vw;
      height: 200px;
      background-color: red;
      
  }

  .footerNav {
    color:white;
    list-style-type: none;
    display: inline;

  }

  nav ul li { 
    display: inline; color: white;
    padding-left: 10px;
  
  } 